/* general styles */

@font-face {
    font-family: 'Roboto-Regular';
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(./assets/fonts/Roboto-Bold.ttf);
}

:root{
    --primary-tom: hsl(4, 100%, 67%);
    --secondary-tom: hsl(4, 100%, 95%);
    --primary-dark-gray: hsl(234, 29%, 20%);
    --primary-char-gray: hsl(235, 18%, 26%);
    --primary-gray:hsl(231, 7%, 60%);
    --primary-white: hsl(0, 0%, 100%);

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-char-gray) ;
    font-family: 'Roboto-Regular';
}

li{
    list-style: none;
}


p{
    font-size: 16px;
}

/* container styles */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 97vh;
    position: relative;
    overflow-x: hidden;
}

/* newsletter */

.newsletter-card{
    background-color: var(--primary-white);
    padding: 20px;
    border-radius: 30px;
}

/* card styles */

.home-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 100px;
}

.info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 350px;
    padding-left: 50px;
}

/* description  */

.title{
    font-size: 50px;
    font-family: 'Roboto-Bold';
    width: 100%;
}

.list-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.list-item{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

/* form */

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.btn{
    padding: 15px 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-dark-gray);
    color: var(--primary-white);
    font-family: 'Roboto-Bold';
}

.btn:hover{
    background: linear-gradient(145deg, hsl(340, 100%, 61%),hsl(24, 100%, 49%) );
}

.formBtn{
    width: 100%;
}

.email-container{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
}

.email-container label{
    font-size: 12px;
    font-family: 'Roboto-Bold';
    color: var(--primary-char-gray);
}

.input-email{
    border: 1px solid var(--primary-gray);
    padding: 15px;
    border-radius: 5px;
    outline: none;
    background-color: none;
}

.input-email:hover{
    cursor: pointer;
    border-color: #000;
}

.input-email:focus{
    cursor: text;
}

.error{
    border-color: var(--primary-tom);
    background-color: var(--secondary-tom);
    color: var(--primary-tom);
}

.error-message{
    font-size: 12px;
    color: var(--primary-tom);
    font-family: 'Roboto-Bold';

}

.email-information{
    display: flex;
    justify-content: space-between;
}

/* success message */

.submitted-success{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    gap: 2rem;
    padding: 3rem;
}

.successContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.submitted-success p{
    width: 100%;
}

.top-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.top-container img{
    width: 50px;
}

.top-container h1{
    width: 100%;
    color: var(--primary-dark-gray);
}

.dismissBtn{
    width: 100%;
}

#bolded{
    color: var(--primary-dark-gray);
    font-weight: bolder;
}

/* attribution style */

.attribution{
    text-align: center;
    color: white;
}

.attribution a{
    text-decoration: none;
    color: var(--primary-tom);
}

/* display style for hide elements */

.hide{
    display: none;
}

/* media queries */

@media screen and (max-width: 950px) {
    .image-container img{
        width: 250px;
        padding-right: 40px;
    }

    .info-container{
        width: 250px;
    }

    .title{
        font-size: 40px;
    }
    .attribution{
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .home-page{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .info-container{
        padding: 0;
    }
    .image-container img{
        width: 400px;
        padding-right: 0;
    }

    .info-container{
        width: 400px;
    }
}

@media screen and (max-width: 550px) {
    body{
        background-color: var(--primary-white);
    }
    .newsletter-card{
        padding: 0;
        border-radius: 0;
        padding-bottom: 30px;
        width: 100vw;
        height: 100%;
    }
    .home-page{
        width: 100%;
        height: 100%;
        
    }
    .image-container img{
        width: 100vw;
    }
    .submitted-success{
        width: 100%;
        height: 100%;
        padding: 0;
        justify-content: space-between;
    }
    .successContainer{
        margin-top: 40%;
    }

    .dismissBtn{
        width: 80%;
    }

    .top-container{
        width: 80%;
    }

    .submitted-success .description{
        width: 80%;
    }
}


@media screen and (max-width: 420px) {
    .info-container{
        width: 90vw;
    }
}
